<strong>Hello, {{ provider }}!</strong>
<p>You have a new cancellation.</p>
<p>
  <strong>Client: </strong> {{ user }}<br />
  <strong>Time/Date: </strong> {{ date }}<br />
  <br />
  <small>You have that slot available now.</small>
</p>
